@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.bg-dark{
    background-color: #152136 !important;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
    .navbar-nav{
        display: -webkit-inline-box;
        padding-top: 5px;
        margin-left: 0px;
    }
    .nav-item {
        margin-left: 15px;
        font-size: 14px;
    }
    .navbar-toggler:focus {
        outline: none;
    }
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .landingSection .container{
        text-align: center
    }
}

.landingSection h3{
    padding-bottom: 15px;
    color: #754ef9;
}

.landingSection h1 {
    font-size: 60px;
    padding-bottom: 15px;
    color: #152136;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .landingSection h1 {
        font-size: 48px;
        padding-bottom: 15px;
        color: #152136;
    }
}


.landingSection p {
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0;
    text-decoration: none;
}

.landingSection {
    width: 100%;
    background-image: url('../assets/Images/landing-section-bg-2.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .landingSection {
        background-position: 80% 50%;
    } 
}

.landingSection .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .landingSection .container {
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .navbar-brand {
        max-width: 50%;;
    }
}

.landingSection a {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #754ef9;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    z-index: 5;
    box-shadow: 0 5px 8px 0 rgba(118, 78, 249, .55);
    background-color: #754ef9;
}

.educationSection {
    color: #152136;
    padding-bottom: 100px;
}

.educationSection h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
    color: #152136;
}

.educationSection .leftBlockContainer{
    text-align: center;
    background-color: #754ef9;
    padding: 50px 30px 10px 30px;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .educationSection .leftBlockContainer{
        padding: 30px 30px 30px 30px;
    }
}

.educationSection .rightBlockContainer{
    padding: 30px;
}

.educationSection .subHeading{
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
}

.educationCardContainer {
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .educationCardContainer {
        width: 93.7%;
        margin: auto;
        margin-bottom: 30px;
    }
}

.footerSection {
    height: 500px;
    background: #152136;
    margin: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footerSection {
        height: 400px;
    }
}

.footerSection div {
    text-align: center;
}

.footerSection p {
    color: white;
    margin-bottom: 80px;
}

.footerSection h2 {
    color: white;
    margin-bottom: 20px;
    padding-top: 120px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footerSection h2 {
        padding-top: 60px;
    }
}

.footerSection ul {
    padding-inline-start: 0px;
}

.footerSection ul li {
    display: inline;
}

.footerSection a li {
    font-size: 50px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footerSection a li {
        font-size: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.footerSection a li:hover {
    color: #754ef9;
}

.copyRightSection {
    background: #1c2940;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
}

